<div class="container home_container mt-4 p-2">
    <nav class="navbar navbar-expand-lg bg-body-tertiary row">
        <div class="container-fluid d-flex justify-content-around">

            <div class="bg-mesh mt-2">
                <a class="align-item-center text-decoration-none">
                    <img src="https://www.medibuddy.in/assets/services/doctor.svg" alt="doctor" height="30" width="80">
                    <h6 class="text-dark">Talk to doctor</h6>
                    <hr class="container-border text-danger" style="left:6%">
                </a>
            </div>

            <a class="align-item-center text-decoration-none" routerLink="/medicine-home">
                <img src="https://www.medibuddy.in/assets/services/medicine.svg" alt="doctor" height="30" width="80">
                <h6 class="mt-2 text-dark">Medicine</h6>
            </a>

            <a class="align-item-center text-decoration-none">
                <img src="https://www.medibuddy.in/assets/services/surgery.svg" alt="doctor" height="30" width="80">
                <h6 class="mt-2 text-dark">Surgery</h6>
            </a>

            <a class="align-item-center text-decoration-none mt-4">
                <img src="https://www.medibuddy.in/assets/services/mb-gold.svg" alt="doctor" height="30" width="80">
                <span style="font-weight: 600;">
                    <h6 class="mt-2">
                        <span class="text-primary">Medi</span>
                        <span class="text-danger">Buddy</span>
                    </h6>
                </span>
                <h6 class="gold-text">Gold</h6>
            </a>

            <a class="align-item-center text-decoration-none">
                <img src="https://www.medibuddy.in/assets/services/insurance.svg" alt="doctor" height="30" width="80">
                <h6 class="mt-2 text-dark">Insurance</h6>
            </a>
            <a class="align-item-center text-decoration-none">
                <img src="https://www.medibuddy.in/assets/services/labtest.svg" alt="doctor" height="30" width="80">
                <h6 class="mt-2 text-dark">Lab Test & Packages</h6>
            </a>

            <div class="more mb-4">
                <a class="text-decoration-none text-dark">
                    <i class="bi bi-three-dots-vertical"></i>
                    <h6 class="mt-3">More</h6>
                </a>
            </div>
        </div>
    </nav>
</div>

<div class="product-search bg-wave-lg bg-image">
    <div class="container border mt-4 shadow-sm container-box ">
        <div class="row d-flex">
            <div class="col-6 mt-4">
                <h5 class="text-end display-center">Consult with Top Doctors Online,24x7</h5>
            </div>
            <div class="container border shadow col-3 mt-2 p-3 Consultation w-25">
                <a class="text-decoration-none ms-5 shadow-sm hightlight-color "> Start Consultation <i
                        class="bi bi-arrow-right ms-3"></i></a>
            </div>
        </div>
    </div>
</div>


<div class="container w-75 mt-4">
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://views.medibuddy.in/homePageBanners/womens-md.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>

            <div class="carousel-item">
                <img src="https://views.medibuddy.in/surgeryBanners/surg_carousel_updated.png" class="d-block w-100"
                    alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                </div>
            </div>

            <div class="carousel-item">
                <img src="https://www.medibuddy.in/assets/gold-home.webp" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                </div>
            </div>

            <div class="carousel-item">
                <img src="https://www.medibuddy.in/assets/singleConsult.webp" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                </div>
            </div>

            <div class="carousel-item">
                <img src="	https://www.medibuddy.in/assets/labs-home.webp" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                </div>
            </div>

            <div class="carousel-item">
                <img src="https://www.medibuddy.in/assets/singleConsult.webp" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


        <div class="container shadow border mt-3 p-4 rounded">
            <div class="row">
                <img src="https://www.medibuddy.in/assets/ABHA.svg" alt="">
            </div>
        </div>


        <div class="container-fluid mainclass">
        <div class="row mt-5 d-flex ">
            <div class="col-md-5 p-l-0">
                <div class="heading">
                <span>
                    <span class="text-primary ">Medi</span>
                    <span class="text-danger ">Buddy</span>
                </span>
                <span class="gold-text & nbsp; fw-semibold "> GOLD</span>
            </div>
                <div class="row mt-4 bold">
                    <span class="rb-gradient-text p-r-0 col-md-9">Give the care your family deserves</span>
                </div>
                <div class="mt-4 bold">
                    <p>Unlimited Consultations with top Doctors for 6 family members in 18+ specialities</p>
                </div>

                <div class="mt-4">
                    <button class="rounded-pill ms-3 GoldButton">Buy MediBuddy Gold <i
                            class="bi bi-arrow-right ms-3"></i></button>
                </div>
            </div>



            <span class=" container row col-md-6">
                <div class=" container col-md-3">
                <div class="card  card1box">
                    <img src="https://www.medibuddy.in/assets/services/mb-gold/unlimited-consultations.svg" class="card-img-top" alt="..." height="100px" width="100px">

                    <hr class="p-1 rounded-pill ms-1">
                    <div class="card-body">
                      <h5 class="card-title p-r-0 col-md-9">Unlimited Free Consultations</h5>
                      <p class="card-text">Get unlimited free consultations with all <span class="bold">doctors 24x7</span></p>
                    </div>
                  </div></div>

                  <div class=" container col-md-3 ">
                  <div class="card card2box">
                    <img src="https://www.medibuddy.in/assets/services/mb-gold/family.svg" class="card-img-top" alt="..." height="100px" width="100px">
                    <hr class="rounded-pill ms-4 p-1">
                    <div class="card-body">
                      <h5 class="card-title p-r-0 col-md-9">Free For Full Family</h5>
                      <p class="card-text">Free consultations for upto <span class="bold">6 family members</span></p>
                    </div>
                  </div>
                </div>

            <!-- <span class=" container row col-md-6"> -->
                <div class=" container row">
                <div class="col-md-3">
                  <div class="card card3box">
                    <img src="https://www.medibuddy.in/assets/services/mb-gold/free-health.svg" class="card-img-top" alt="..." height="100px" width="100px">
                    <hr class="rounded-pill ms-1 p-1">
                    <div class="card-body">
                      <h5 class="card-title p-r-0 col-md-9">Free For All Health Problems</h5>
                      <p class="card-text">Consult with any doctor from <span class="bold">18 departments </span>at any time</p>
                    </div>
                  </div>
                </div>
                
                <div class="col-md-3">
                  <div class="card4box">
                    <img src="https://www.medibuddy.in/assets/services/mb-gold/video-consultation.svg" class="card-img-top" alt="..." height="100px" width="100px">
                    <hr class="rounded-pill ms-1 p-1">
                    <div class="card-body">
                      <h5 class="card-title p-r-0 col-md-9">Video Consultations</h5>
                      <p class="card-text">Video Consults with top doctors <span class="bold">24x7</span></p>
                    </div>
                  </div>
                </div>
            </div>
                <!-- </span> -->
            </span>
        </div>
    </div>


    <div class="mt-2">
        <h2 class="heading-color">Insurance</h2>
        <p class="paragraphsize mt-4">Get access to all your Health insurance services - View Policy, Initiate and Track Claims, Go Cashless with network hospitals and intimate Hospitalization</p>
    </div>



    <div class="row container mt-4 ">
        <div class="col">
            <div class="card  box" style="width:10rem;">
                <div class="card-body">
                  <h5 class="heading-card">E-Card<i class="bi bi-arrow-right ms-3"></i></h5>
                  <p class="card-text">Get e-cards for you and your family members</p>
                  <img src="https://www.medibuddy.in/assets/services/insurance/ecard.svg
                  " class="card-img-top" alt="..." height="60px" width="60px">
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card box">
                <div class="card-body" style="width: 10rem;">
                  <h5 class="heading-card">Claims <i class="bi bi-arrow-right ms-3"></i></h5>
                  <p class="card-text">Track your claims in real-time</p>
                  <img src="https://www.medibuddy.in/assets/services/insurance/claims.svg
                  " class="card-img-top" alt="..." height="60px" width="60px">
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card box" style="width:10rem;">
                <div class="card-body">
                  <h5 class="heading-card">Plan Hospitalization <i class="bi bi-arrow-right ms-1"></i></h5>
                  <p class="card-text">Plan and Intimate hospitalization at trusted hospitals</p>
                  <img src="https://www.medibuddy.in/assets/services/insurance/hospitalization.svg" class="card-img-top" alt="..." height="40px" width="80px">
                </div>
              </div>    
        </div>
        <div class="col">
            <div class="card box" style="width:10rem;">
                <div class="card-body">
                  <h5 class="heading-card">Network hospitals <i class="bi bi-arrow-right ms-3"></i></h5>
                  <p class="card-text">Search for the nearest Network hospital to go cashless</p>
                  <img src="https://www.medibuddy.in/assets/services/insurance/network-hospitals.svg" class="card-img-top" alt="..." height="40px" width="80px">
                </div>
              </div>  
        </div>
        <div class="col">
            <div class="card box" style="width:10rem;">
                <div class="card-body">
                  <h5 class="heading-card">Empanel hospitals <i class="bi bi-arrow-right ms-3"></i></h5>
                  <p class="card-text">Become a part of Network Hospitals</p>
                  <img src="https://www.medibuddy.in/assets/services/insurance/EmpanelHosp.svg
                  " class="card-img-top" alt="..." height="50px" width="80px">
                </div>
              </div>  
        </div>
    </div>


    <div class="row mt-5 border image">
        <div class="col">
        <img src="https://www.medibuddy.in/assets/surgery.svg" alt="" class="w-100">
        </div>
    </div>

